body {
    margin: 0;
    background-color: #2C2B3D;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.page {
    width: 1280px;
    margin: 65px auto 0;
    height: 720px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;


}

ul li a:hover {
    font-weight: bold;
} 

ul li a {
    font-size: 14px;

    color: #fff;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-size: 36px;
    font-family: 'JetBrains Mono', monospace;
}

p { 
    font-size: 16px;
}

span {
    color: #00BFA6 ;
}
