body {
    margin: 0;
    background-color: #2C2B3D;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    min-height: 100vh;
}

.page {
    width: 1280px;
    margin: 65px auto 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 81px 89px 100px 89px;
}

ul {
    display: flex;
    gap: 64px;
    list-style: none; 
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul li a:hover {
    font-weight: bold;
} 

ul li a {
    font-size: 14px;

    color: #fff;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'JetBrains Mono', monospace;
   
    margin-bottom: 59px;
}

p { 
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    color: #C2C2C2;
}

span {
    color: #00BFA6 ;
}

main {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 101px 89px 157px 99px;
}

footer {
    font-family: 'JetBrains Mono';
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

footer a {
    font-style: normal;
    list-style: none;
    color: #fff;   
} 

footer a:hover {
    font-weight: bold;
}

#line {
    width: 568px;
    height: 0px;
    border: 1px solid #00BFA6;
    margin: 157px auto 27px;
}

#lock { 
    position: fixed;
    bottom: 20px;
    left: 20px;
}
