body {
    margin: 0;
    background-color: #2C2B3D;
    color: #fff;
}

.page {
    width: 1280px;
    margin: 65px auto 0;
    height: 720px
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 100px;

}

ul {
    list-style: none;
    display: flex;

    gap: 64px;
    text-decoration: none;


}

ul li a {
    font-size: 14px;

    color: #fff;
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

p { 
    font-size: 16px;
}

span {
    color: #00BFA6 ;
}
